<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>CS152aj Quiz 1</h1>
        <p>Write the HTML with bootstrap to create this page. Upload your code to Latte.</p>
    </div>
    <ul>
      <li><a href="/griddemo">Demo of Bootstrap Grid system</a></li>
      <li><a href="/myform">Demo of form for my personal app</a></li>

    </ul>
<%- include('bootfooter') -%>
